<div style="height: 100vh">
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-5 h-100">
      <button class="backButton">Back</button>
      <div class="mx-5 h-75" id="nutellaCrepe">
        <img src="assets/img/nutellaCrepe.png" alt="" >
        <div style="display: flex; margin-right: 10%; margin-left: 10%; padding-top: 20px; justify-content: space-between;">
          <span id="crepeName">Nutella Crepe</span>
          <span id="price">$3.99</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 countContainer">
      <span style="position: relative; top: -8%; transform: translateY(8%); color: #774A4A; padding-right: 30%">0</span>
    </div>
    <div class="col-md-3">
      <div><img src="assets/img/plusButton.svg" style="max-width: 40%; max-height: 40%; margin-top: 40px;" alt="" ></div>
      <div><img src="assets/img/minusButton.svg" style="max-width: 40%; max-height: 40%; padding: 0;" alt="" ></div>
      <div style="margin: auto; text-align: center; font-size: 2vw;"><span style="color: #774A4A;">$0.00 Total</span></div>
      <div style="margin: auto; text-align: center; margin-top: 20px;"><button style="border-radius: 30px; background-color: #774A4A;">Continue</button></div>
    </div>
  </div>
</div>
</div>

