<div class="banner">
    <!--<img id="bannerImg" src="assets/img/crepeBackground.jpg" alt="" > -->
    <button style="width: 30%; height: 25%; display: table-cell; text-align: center; vertical-align: middle; border-radius: 64px; font-size: 500%; 
      background-image: -webkit-linear-gradient(top, #d09450, #774a4a);  
      background-image: -moz-linear-gradient(top, #d09450, #774a4a);  background-image: -ms-linear-gradient(top, #d09450, #774a4a);  
      background-image: -o-linear-gradient(top, #d09450, #774a4a);  background-image: linear-gradient(to bottom, #d09450, #774a4a);" [routerLink]="['/order']">Order Here</button>
</div>
<div class="crepeCount">
    <span id="crepeCountText">0 Crepes Ordered...Be the First!</span>
</div>
